*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    background-color: midnightblue;
    color: white;
    padding: 25px;
    width: 100%;
    max-width: 480px;
    border-radius: 20px;

}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid coral;
    font-size: 15px;
}


.quiz{
    padding: 20px 0;

}

.quiz h2{
    font-size: 18px;
    font-weight: 25px;
    color: wheat;
    font-weight: 600;
    padding-bottom: 30px;

}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ;
}

.btn:hover{
    background: #222;
    color: #fff;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    display: none;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ;
}

#next-btn:hover{
    background: #001e4d;
    color: coral;
}